html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend{
	border: 0;
  	outline: 0;
  	vertical-align: baseline;
  	background: transparent;
  	margin: 0 auto;
  	padding: 0;
}

body {
  font-size: 12px;
  color: #000;
  background: url("../_img/bg.jpg") repeat;
  line-height: 24px;
  font-family: "宋体";
  margin: 0 auto;
}

marquee {
  display: inline-block;
}


li {
  list-style: none;
  float: left;
}

table {
  display: table;
  border-collapse: separate;
  border-spacing: 2px;
  border-color: gray;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

td, th {
  display: table-cell;
  vertical-align: inherit;
}

a:link {
  COLOR: #000;
  TEXT-DECORATION: none;
}

a:visited {
  COLOR: #000;
  TEXT-DECORATION: none;
}

.xk-container h1, h2, p {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

.nav {
  margin: 0 auto;
  background: url("../_img/nav_bg.jpg") repeat-x;
  width: 1004px;
  height: 47px;
}

.nav li {
  width: 125px;
  height: 46px;
  line-height: 46px;
  text-align: center;
  background: url("../_img/nav_bg1.jpg") no-repeat right;
}

.nav li a {
  font-size: 14px;
  color: #ffffff;
  font-weight: bold;
}


.flex-viewport,.flex-viewport *,.flexslider .slides img{

  height:330px;
}

.flexslider{
  height:280px;
}