.right {
  background: url('../_img/back.jpg') repeat-y ;
  background-position: 50% 0%;
  width: 686px;
  margin-left: 6px;
  float: left;
  border: 1px solid #b80505;
  main-height: 1448px;
  _height: 1452px;
}



.content_foot{
  height: 450px;
  background: url('../_img/back_foot.jpg') no-repeat ;
  background-position: 50% 0%;
}

.content_foot p span img{
  margin-top: 40px;
  max-width: :400px;
  max-height: 300px
}